@charset "UTF-8";
:root {
  /* colores */
  --quinto: #FFFFFF;
  --negro: #212121;
  /* Fuentes */
  --fuentePrincipal: "Poppins", serif;
}

/*========================================================
                        Globales 
==========================================================*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #e7e5d7;
  font-size: 1.6rem;
  line-height: 1.5;
}

main {
  margin: 2rem;
  justify-content: center;
}

p {
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  color: var(--negro);
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  margin: 1rem;
}

h1, h2, h3 {
  text-align: center;
  color: var(--negro);
  font-family: var(--fuentePrincipal);
  font-weight: bolder;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.8rem;
  margin: 2rem 0 2rem 0;
}

h3 {
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

.title {
  font-style: italic;
}

.title span {
  font-weight: lighter;
  font-style: normal;
}

.footer {
  text-align: center;
  margin-top: 5rem;
  font-style: italic;
}

/*========================================================
                Barra de navegación
==========================================================*/
.barra {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  font-family: var(--fuentePrincipal);
  padding: 1rem;
  gap: 2rem;
}

.barra__navbar a {
  color: var(--negro);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.8rem;
}
.barra__navbar a:hover {
  color: var(--quinto);
}

.navContainer {
  background-color: var(--cuarto);
}

/* Barra de navegación responsiva para dispositivos pequeños*/
@media (max-width: 480px) {
  .barra {
    flex-direction: column;
  }
  .barra__navbar {
    gap: 0;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar-toggler {
    width: 10rem;
    height: 5rem;
  }
  .title {
    margin-bottom: 3rem;
  }
}
.carousel_micheladas {
  width: 70%;
  margin: auto;
}

/*========================================================
                    Home 
==========================================================*/
.bienvenido {
  padding: 0 0 3rem 0;
}
.bienvenido p, .bienvenido h2, .bienvenido h3 {
  color: var(--negro);
  text-align: center;
}

.bienvenido__container--fondo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bienvenido__button {
  background-color: var(--primero);
  color: var(--negro);
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 400;
  width: 15rem;
  text-align: center;
  border: none; /* para quitar el borde del botón del formulario */
}

.compra {
  text-align: center;
}
.compra ul {
  list-style-type: none;
}

/*========================================================
                        Menú 
==========================================================*/
.menu {
  background-image: url(../img/michePortada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 80rem;
  height: 50rem;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.menu__contenido {
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  height: 80%;
  margin: 2rem auto;
  border-radius: 5px;
}

.menu__contenido h2 {
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .menu__contenido-items {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 1.5rem;
  }
  .menu__contenido-items p {
    font-size: 1.3rem;
    justify-content: center;
    padding: 5px 10px;
  }
  .menu__contenido-items a {
    font-size: 1.3rem;
  }
  .item {
    margin: 0;
  }
}
.menu__contenido-items {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.menu__contenido-items p {
  text-align: center;
  padding: 5px 10px;
}
.menu__contenido-items a {
  font-family: var(--fuentePrincipal);
  color: var(--negro);
  display: inline-block;
  padding: 5px 10px;
  text-decoration: underline;
}
.menu__contenido-items a:hover {
  color: var(--segundo);
}

.item {
  margin: 0;
}

/* Botones bootstrap personalizados */
.custom-btn {
  width: 8rem;
  color: var(--negro);
}

/*========================================================
                        Carrito 
==========================================================*/
.carrito {
  background-color: #b9b4b4;
  max-width: 60rem;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito p {
  font-size: 1.5rem;
  text-align: center;
}

/* Contenedores de carrito */
.carrito_contenido {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center; /* Centrar en todas las celdas del grid */
}

.carrito_contenido-boton {
  color: var(--quinto);
  font-family: var(--fuentePrincipal);
  font-size: 1.5rem;
  text-decoration: underline;
}

.carrito_contenido-imagen {
  height: 12rem;
  width: 12rem;
  padding: 1rem 0;
  border-radius: 10px;
}

.carrito__botones {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 1rem 0;
}

/* Ajuste a dispositivos pequeños */
@media (max-width: 480px) {
  .carrito p {
    font-size: 1rem;
  }
  .carrito_contenido-boton {
    color: var(--quinto);
    font-family: var(--fuentePrincipal);
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .carrito_contenido-imagen {
    height: 10rem;
    width: 8rem;
    padding: 1rem 0;
    border-radius: 10px;
  }
  img {
    margin: 0rem;
  }
  .carrito__botones {
    margin-top: 2rem;
  }
}
.btn-extra-large {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  font-family: var(--fuentePrincipal);
}

/*========================================================
                        Contacto
==========================================================*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.icons__icon {
  background-color: #000000;
  padding: 1rem;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
