/*========================================================
                    Custom propierties 
==========================================================*/

:root {
    /* colores */
    --primero: #FFC107;
    --segundo: #FF3D00;
    --tercero : #7ED321;
    --cuarto: #00BCD4;
    --quinto: #FFFFFF;
    --negro: #212121;

    /* Fuentes */
    --fuentePrincipal : "Poppins", serif;
}

/*========================================================
                        Globales 
==========================================================*/

html {
    box-sizing: border-box; /* Box model */
    font-size: 62.5%; /* 1 REM = 10px */
 
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #e7e5d7;
    font-size: 1.6rem; /* Tamaño fuente */
    line-height: 1.5; /* Interlineado */
}

main {
    margin: 2rem;
    justify-content: center;
}

p {
    font-size: 2rem; /* Tamaño de letra para * parrafos */
    font-family: var(--fuentePrincipal); /* Fuente para * parrafos */
    color: var(--negro) /* Color para  * parrafos */
}

a {
    text-decoration: none; /* Quitar estilo de enlaces por defecto */
}

img {
    width: 100%;
}

h1, h2, h3 {
    /* Estilo general de todos los encabezados */
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal)
}

/* Tamaños de fuente para cada encabezado */
h1 {
    font-size: 4.8rem;
    font-weight: bolder;
}
h2 {font-size: 3.8rem;}
h3 {font-size: 3rem;}

/*========================================================
                        Generales 
==========================================================*/
.title {
    font-style: italic;
}

.title span {
 font-weight: lighter;
 font-style: normal;
}

/*========================================================
                Barra de navegación
==========================================================*/
.barra {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-evenly ;
}

.navbar-nav {
    font-family: var(--fuentePrincipal);
    padding: 1rem;
    gap: 2rem;
}
/* Barra de navegación responsiva para dispositivos pequeños*/
@media (max-width: 480px) {
    .navbar-nav {
        align-items: center;
    }
}

.navContainer {
    background-color: var(--cuarto);
}

/* .barra__navbar {
    font-family: var(--fuentePrincipal);
    display: flex;
    padding: 1rem;
    gap: 2rem;
} */


/* Barra de navegación responsiva para dispositivos pequeños*/
@media (max-width: 480px) {
    .barra {
        flex-direction: column;
        }
    
        .barra__navbar {
            gap: 0;
        }
}

.barra__navbar a {
    color: var(--negro);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem;
}

.barra__navbar a:hover {
    color: var(--quinto);
}


/*========================================================
                    Presentación 
==========================================================*/
.bienvenido {
    padding: 0 0 3rem 0;
}

.bienvenido p,
.bienvenido h2,
.bienvenido h3 {
    color: var(--negro);
    text-align: center;
}

.bienvenido__container--fondo {
    position: absolute;
    background-color: rgb(0  0 0 / 40%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenido__button {
    background-color: var(--primero);
    color: var(--negro);
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 400;
    width: 15rem;
    text-align: center;
    border: none; /* para quitar el borde del botón del formulario */
}

.carousel_micheladas {
    width: 70%;
    margin: auto;
}

.compra {
    text-align: center;
}

.compra ul {
    list-style-type: none;
}

/*========================================================
                        Menú 
==========================================================*/
.menu {
    background-image: url(../img/michePortada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 80rem;
    height: 50rem;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.menu__contenido {
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    height: 80%;
    margin: 2rem auto;
    border-radius: 5px;
}

.menu__contenido h2 {
    margin-bottom: 1rem;
}

@media (max-width: 480px) {

    .menu__contenido-items{
        display: grid;
        grid-template-columns: 2fr 1fr;
        row-gap: 1.5rem;
    }

    .menu__contenido-items p {
        font-size: 1.3rem;
        justify-content: center;
        padding: 5px 10px;  
    }

    .menu__contenido-items a {
        font-size: 1.3rem;
    }

    .item {
        margin: 0;
    }
}

.menu__contenido-items{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}


.menu__contenido-items p {
    text-align: center;
    padding: 5px 10px;  
}

.menu__contenido-items a {
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    display: inline-block;
    padding: 5px 10px;      
    text-decoration: underline;
}

.menu__contenido-items a:hover {
    color: var(--segundo);
}

.item {
    margin: 0;
}

/*========================================================
                        Carrito 
==========================================================*/
.carrito {
    background-color: #b9b4b4;
    max-width: 60rem;
    height: 50rem;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito_contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    justify-items: center;
    gap: 1rem;
    align-items: center; /* Centrar en todas las celdas del grid */
}

.carrito p {
    font-size: 1.5rem;
}


.carrito_contenido-boton {
    color: var(--quinto);
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
    text-decoration: underline;
}

.carrito_contenido-imagen {
    height: 12rem;
    width: 12rem;
    padding: 2rem 0;
    border-radius: 10px;
}

.carrito__botones {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
}

@media (max-width: 480px) {
    .carrito p {
        font-size: 1rem;
    }
    
    
    .carrito_contenido-boton {
        color: var(--quinto);
        font-family: var(--fuentePrincipal);
        font-size: 1.2rem;
        text-decoration: underline;
    }
    
    .carrito_contenido-imagen {
        height: 10rem;
        width: 8rem;
        padding: 2rem 0;
        border-radius: 10px;
    }

    .carrito__botones {
/*         display: flex;
        align-items: center;
        gap: 5rem; */
        margin-top: 7rem;
    }
}


.carrito__botones__comprar,
.carrito__botones__eliminar {
    color: var(--quinto);
}

.carrito__botones__comprar {
    padding: 1rem 6rem;
    background-color: #4f4d4d;
    border-radius: 5px;
    font-family: var(--fuentePrincipal);
}

.carrito__botones__comprar:hover {
    background-color: var(--quinto);
    color: var(--negro);
}

.carrito__botones__eliminar {
    padding: 2rem 1rem;
    background-color: #df4f4f;
    border-radius: 50%;
    font-family: var(--fuentePrincipal);
}

/*========================================================
                        Contacto
==========================================================*/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.icons__icon {
    background-color: #000000;
    padding: 1rem;
    border-radius: 50%;
}

/*========================================================
                        Nosotros
==========================================================*/
.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros p {
    text-align: center;
}

.nosotros__imagen {
    width: 45rem;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .nosotros__imagen {
        width: 30rem;
        border-radius: 10px;
    }
}
/*========================================================
                    Footer 
==========================================================*/

.footer {
    text-align: center;
    margin-top: 5rem;
}