/*========================================================
                    Custom propierties 
==========================================================*/

:root {
    /* colores */
    --primero: #FFC107;
    --segundo: #FF3D00;
    --tercero : #7ED321;
    --cuarto: #00BCD4;
    --quinto: #FFFFFF;
    --negro: #212121;

    /* Fuentes */
    --fuentePrincipal : "Poppins", serif;
}

/*========================================================
                        Globales 
==========================================================*/

html {
    box-sizing: border-box; /* Box model */
    font-size: 62.5%; /* 1 REM = 10px */
 
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--quinto);
    font-size: 1.6rem; /* Tamaño fuente */
    line-height: 1.5; /* Interlineado */
}

main {
    margin: 2rem;
}

p {
    font-size: 2rem; /* Tamaño de letra para * parrafos */
    font-family: var(--fuentePrincipal); /* Fuente para * parrafos */
    color: var(--negro) /* Color para  * parrafos */
}

a {
    text-decoration: none; /* Quitar estilo de enlaces por defecto */
}

img {
    width: 100%;
}

h1,h2, h3 {
    /* Estilo general de todos los encabezados */
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal)
}

/* Tamaños de fuente para cada encabezado */
h1 {font-size: 6rem;}
h2 {font-size: 4rem;}
h3 {font-size: 3rem;}

/*========================================================
                        Generales 
==========================================================*/


.title span {
    color: var(--segundo);
}

/*========================================================
                Barra de navegación
==========================================================*/
.navContainer {
    background-color: var(--cuarto);
}

.navbar {
    font-family: var(--fuentePrincipal);
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

/* Barra de navegación responsiva para dispositivos pequeños*/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-evenly; /* alinear horizontal */
        }
}

.navbar a {
    color: var(--negro);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .8rem;
    border-radius: .8rem;
}

.navbar a:hover{
background-color: var(--quinto);
color: #212121;
}


/*========================================================
                    Presentación 
==========================================================*/
.bienvenido {
    background-image: url(../img/michePortada.jpg);
    background-repeat: no-repeat; /* para que no se repita la imagen en pantllas grandes */
    background-size: cover; /* toma el tamaño de la pantalla */
    height: 410px;
    padding: 20px;
    position: relative;
}

.bienvenido p,
.bienvenido h2,
.bienvenido h3 {
    color: var(--quinto);
}

.bienvenido__container--fondo {
    position: absolute;
    background-color: rgb(0  0 0 / 40%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenido__button {
    background-color: var(--primero);
    color: var(--negro);
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 400;
    width: 15rem;
    text-align: center;
    border: none; /* para quitar el borde del botón del formulario */
}

.compra {

}

/*========================================================
                    Footer 
==========================================================*/

.footer {
    text-align: center;
}